doctype html
html(lang='en')
  block vars
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(name='node-env', content=env)
    
    meta(name="robots", content="index, follow")
    meta(name="name", content="Damn Good Company")
    meta(name="language", content="en-US")
    meta(name="copyright", content="Copyright Damn Good Company")
    meta(name="keywords", content="longform, articles, damn, good, company, news, stunning")
    meta(name="subject", content="articles")
    meta(name="publisher", content="Damn Good Company")
    
    link(rel="apple-touch-icon", sizes="57x57", href="/img/icons/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/img/icons/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/img/icons/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/img/icons/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/img/icons/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/img/icons/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/img/icons/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/img/icons/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/img/icons/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192", href="/img/icons/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/img/icons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/img/icons/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/img/icons/favicon-16x16.png")
    link(rel="manifest", href="/img/icons/manifest.json")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="/img/icons/ms-icon-144x144.png")
    meta(name="theme-color", content="#ffffff")
    
    title Damn Good Company 
      if page
        | #{page}
        
    if description    
      meta(name="description", content=description)
    else
      meta(name="description", content='Damn Good Company is the home of stunning longform articles.')
    
    link(rel='stylesheet', href='/css/core.css')
    link(href="http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600", rel="stylesheet", type="text/css")

    if env == 'development'
      script(src='http://localhost:35729/livereload.js')
    
  body.boxed-layout.btn-rounded
  if navigation
    .nav-container
      nav
        .nav-bar
          .module.left
            a(href="/")
              img.logo.logo-light(alt="Foundry", src="/img/Logo-Simple-Grey-Blue-200w.png")
              img.logo.logo-dark(alt="Logo", src="/img/Logo-Simple-Grey-Blue-200w.png")
          .module.widget-handle.mobile-toggle.right.visible-sm.visible-xs
            i.ti-menu
          .module-group.right
            .module.left
              ul.menu
                if navigation
                  each n in navigation
                    li
                      a(href=n.fields.URL)= n.fields.Title

    .main-container
      block content
    
    footer.footer-2.bg-dark.text-center-xs
      .container
        .row
          .col-sm-4.mb-xs-32
            a(href="#")
              img.image-xxs.fade-half(alt="Pic", src="/img/Logo-Simple-White-200w.png")
          .col-sm-4.text-center.mb-xs-32
            span.fade-half
              | &#169; Copyright 2015 Damn Good Company
          .col-sm-4.text-right.text-center-xs
            ul.list-inline.social-list
              li
                a(href="https://twitter.com/dmngdco")
                  i.fa.fa-twitter
              li
                a(href="https://www.facebook.com/dmngd")
                  i.fa.fa-facebook
              li
                a(href="https://www.instagram.com/dmngd")
                  i.fa.fa-instagram
    
    script(src='/js/core.js')
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-72121735-1', 'auto');
      ga('send', 'pageview');
